
body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background-color:  #fbf0f0;
}

.container {
    background-color: #fefefe;
    border: 1px solid #888;
    width: 50%;
    box-shadow: 0 10px 10px #222;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.container2 {
    padding: 16px;
}

input[type=text], input[type=password], input[type=number],input[type=tel], input[type=email] {
    width: 100%;
    height: 30px;
    border: none;
    background: #f1f1f1;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
}

.addbtn {

    width: 50%;
    text-align: center;
}

button:hover {
    opacity: 1;
}
table,td,tr {
    border-collapse: collapse;
    padding: 10px;
   
}
table {
    width: 100%;
}
caption {
    float: left;
}
select {
    width: 35%;
}
.h1 {
    float: left;
    color: white;
}
.navtop{
        text-decoration: none;
       color: white;
   }
   .navtop:hover {
    text-decoration: none;
    background-color: #671D1E;
    padding: 5px;
}

.btncontainer {
    float: right;
    color: black;
    padding-top: 30px;
    padding-right: 50px;
    padding-bottom: 30px;
  }
  