
    body {
        background-color: #fbf0f0;
        font-family: Arial, Helvetica, sans-serif;
        padding: 15px;
    }
    table{
        width: 100%;
        border-collapse: collapse;
        padding: 15px;
        border: 1px solid black;
        text-align: center;
    }
    th, td, tr, thead{
        text-align: left;
        border-top: 1px solid black;
        border: 1px solid black;
        padding: 15px;   
        background-color: white; 
    }
    select {
        width: 200px;
        display: inline;
    }
    .btn {
        background-color: transparent;
        border: none;
        color: black;
    }
    .textcolor{
        color: #A94442;
    }
    .btncontainer {
        float: right;
        padding-top: 30px;
        padding-right: 50px;
        padding-bottom: 30px;

    }
    h1 {
        padding-top: 15px;
        float: left;
    }
    .navtop{
        text-decoration: none;
        color: #A94442;
    }
    .navtop:hover {
        color: white;
        text-decoration: none;
        background-color: #671D1E;
        padding: 5px;
    }
    input[type=submit] {
        background-color: #4CAF50;
        color: white;
        float: right;
        border: none;
        cursor: pointer;
        width: 25%;
        opacity: 0.9;
    }
    input[type=submit]:hover {
        opacity: 1;
    }
    p {
        margin-bottom: 0px;
        float: left;
    }
    
