body {
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
    background-color: #fbf0f0;
}

.none {
    border: none;
}

table {
    border-top-right-radius: 1px solid black;
    border-collapse: collapse;
    width: 100%;
    background-color: white;
}

tr,
td,
th {
    text-align: left;
    padding: 15px;
    border: 1px solid black;
    f
}

.center {
    width: 300px;
    text-align: center;
}

h1 {
    color:#A94442;
    float: left;

}

a.navtop:hover {
    background-color: #671D1E;
    text-decoration: none;
    color: white;
    padding: 5px;
}

.addform-popup {
    display: none;
    position: fixed;
    z-index: 1;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;

}

.addcontainer {
    width: auto;
    padding: 10px;
    background-color: #E0242D;
}

.btnchange {
    margin-top: 10px;
    width: 150px;
}

table.addcurriculum {
    width: 100%;
    text-align: center;
}

.btncontainer {
    float: right;
    color: black;
    padding-top: 30px;
    padding-right: 50px;
    padding-bottom: 30px;
}

.search {
    float: right;
    margin-top: 20px;
}
.navtop{
        text-decoration: none;
       color: #A94442;
   }
   .btnview {
       border: none;
       color: black;
       background-color: transparent;
   }
   @media screen and (max-width: 1000px) {
    .addform-popup {
        display: none;
        position: absolute;
        z-index: 1;
        width: inherit;
        text-align: center;
        left: 0%;
        top: 50%;
        transform: translate(-0%, -50%);

    }
    .addcontainer {
       
        padding: 10px;
        background-color: #E0242D;
      
    }
    table.addcurriculum {
        width: 100%;
        text-align: center;
    }
    table{
        width: 100%;
    }
}
