body {
    background-color: #763435;
    font-family: Arial, Helvetica, sans-serif;
}

.btncontainer {
    float: right;
    color: black;
    padding-top: 30px;
    padding-right: 50px;
    padding-bottom: 30px;
}

h1 {
    float: left;
    color: white;
}

.navtop {
    text-decoration: none;
    color: white;
}

.navtop:hover {
    background-color: #671D1E;
    padding: 5px;
}

table {
    border: 1px solid black;
    border-collapse: collapse;
    width: 100%;
    background-color: white;
    
}

table td.btn,
.icon {
    color: black;
    border: none;
    text-align: center;
    margin-inline: 5px;

}

td,
tr,
th {
    padding: 5px;
    height: 20px;
    border: 1px solid black;
}